/**** GENERAL ****/
.container {
  margin: 0 auto;
  padding: 0 20px;
}

.text-aligned-center {
  text-align: center;
}

.is-fullwidth {
  width: 100% !important;
}

.is-paddingless {
  padding: 0 !important;
}

textarea {
  resize: none !important;
  max-height: 50px;
  min-height: 50px;
  border: 1px solid grey;
}

/**** MDL CHANGES ****/
.mdl-card__title {
  justify-content: center;
}

.mdl-list__item {
  min-height: 24px !important;
}


/**** LOGIN SCREEN ****/
#login-card {
  width: 100%;
}

/**** CHAT SCREEN ****/
#chat-screen {
  font-family: 'Roboto';
}

#log {
  padding: 10px;
  box-sizing: border-box;
  max-height: 450px;
  min-height: 450px;
  overflow-y: scroll;
}

.welcome-msg {
  font-weight: 700;
  text-transform: uppercase;
}

.broadcast-msg {
  margin: 0;
}

.numUsers-msg {

}

#messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 450px;
  min-height: 450px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 330px;
  min-height: 330px;
  overflow-y: scroll;
}

#messages li {
  padding: 5px 10px;
}

#chatbox {
  border-top: 1px solid rgba(0,0,0,.12);
  padding: 0 10px;
}
